<div class="blogModule prevNextPosts clearfix">
    <div class="prevPost">
      <div class="link"><%= link_to "Previous Post", "/conversatio/public/post/show" %></div>
      <div class="title"><%= link_to fake_sentence, "/conversatio/public/post/show" %></div>
      <div class="subitle"><%= fake_paragraph %></div>
    </div>
    <div class="nextPost">
      <div class="link"><%= link_to "Next Post", "/conversatio/public/post/show" %></div>
      <div class="title"><%= link_to fake_sentence, "/conversatio/public/post/show" %></div>
      <div class="subitle"><%= fake_paragraph %></div>
    </div>
</div> <!-- /.prevNextPosts -->