<div class="moduleCloud">
    <div class="module_title"><span>Hot topics</span></div>
    <div class="module_content">
        <ul class="clearfix">
            <li class="l4"><a href="#">.net</a></li>
            <li class="l9"><a href="#">advertising</a></li>
            <li class="l2"><a href="#">ajax</a></li>
            <li class="l3"><a href="#">apple</a></li>
            <li class="l5"><a href="#">architecture</a></li>
            <li class="l8"><a href="#">art</a></li>
            <li class="l4"><a href="#">article</a></li>
            <li class="l4"><a href="#">audio</a></li>
            <li class="l3"><a href="#">blog</a></li>
            <li class="l9"><a href="#">blogging</a></li>
            <li class="l7"><a href="#">blogs</a></li>
            <li class="l2"><a href="#">book</a></li>
            <li class="l7"><a href="#">books</a></li>
            <li class="l8"><a href="#">business</a></li>
            <li class="l2"><a href="#">comics</a></li>
            <li class="l5"><a href="#">community</a></li>
            <li class="l9"><a href="#">computer</a></li>
            <li class="l3"><a href="#">cool</a></li>
            <li class="l6"><a href="#">CSS</a></li>
            <li class="l9"><a href="#">culture</a></li>
            <li class="l5"><a href="#">database</a></li>
            <li class="l1"><a href="#">design</a></li>
        </ul>
    </div> <!-- /.module_content -->
</div> <!-- /.moduleCloud -->