<div class="postsList">
    <ul>
      <% 10.times do %>
        <li class="clearfix">
            <div class="meta date">November 24, 2008; 06:00 AM</div>
            <div class="title"><%= link_to fake_sentence, "/conversatio/public/post/show" %></div>
            <div class="metainfo">
                <div class="meta author">By <%= link_to fake_name, ""%></div>
                <%= render 'conversatio/tag_list' %>
            </div> <!-- /.metainfo -->
            <div class="text">
              <%= fake_paragraph %>
              <br/><br/>
              <%= fake_paragraph %>
              <%= link_to "Read more...", "/conversatio/public/post/show", :class => "read_more" %>
            </div> <!-- /.text -->
            <div class="comments_link"><a href="#">16 comments</a></div>
        </li>
      <% end %>
    </ul>
    <%= will_paginate %>
</div> <!-- /.postsList -->