<div class="pictoModule photosNavigation clearfix">
  <div class="module_title"><span><%= fake_name %>'s photostream</span></div>
  <div class="module_content">
    <div class="prevPhoto">
      <div class="link"><%= link_to "Previous Photo", "/picto/public/photo/show" %></div>
      <div class="image"><a href="/picto/public/photo/show"><%= image_tag 'core/images/115x115' %></a></div>
    </div>    
    <div class="nextPhoto">
      <div class="link"><%= link_to "Next Photo", "/picto/public/photo/show" %></div>
      <div class="image"><a href="/picto/public/photo/show"><%= image_tag 'core/images/115x115' %></a></div>
    </div>  
  </div> <!-- /.module_content -->
</div> <!-- /.pictoModule -->