.highlight {color: inherit; background-color: #fefbcc; }
.metainfo {position: relative; padding: 3px 0; margin: 0.3em 0;}
.meta.date, .meta.author, .meta.tags {color:#999; background-color: transparent;}
.meta.author a {color: #333; background-color: transparent; text-decoration: none; font-weight: bold;} 
.metainfo .meta.tags {font-weight: bold; line-height: 2.5em;}
.metainfo .meta.tags a {background: #fefaaf; color: #dfa118; text-decoration: none; margin-left: 5px; padding: 3px 5px;}
a.read_more {color: #1485cc; background-color: transparent; text-decoration: none; font-weight: bold;}

.more {text-align: right; padding: 3px 0; position: relative;}
.more a {text-decoration: none; font-weight: bold; font-size: 1.1em; padding: 3px 15px;}

h2 {background-color: #eef5ff; color: #1385cc;font-size: 3.5em; line-height: 1em; margin: 0 -20px 0.3em -20px; padding: 10px 20px; position: relative;}

.button {border-radius:0.5em;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;-ms-border-radius: 0.5em; font-weight: bold; font-size: 1.1em;}
.button.delete {color: #fff; background-color: #f06b16; border-color: #f06b16;}

table {width: 100%; font-size: 1em; border-collapse: collapse; border: 1px solid #d6d6d6;}
table th, table td {padding: 1px 10px 1px 5px}
table th {text-align: left; background: #fafafa; color: inherit; font-weight: normal; border: 1px solid #d6d6d6;}
table tr {background: #edf3fd; color: inherit; border-bottom: 1px solid #d6d6d6;}
table tr.pair {background: #fff; color: inherit;}
table tr.separator {border-top: 2px solid #d6d6d6;}
table a {text-decoration: none;}

.lastPosts .more a
{
    background-color: #edf3fd;
    color: #1485cc;
    border-radius:0.5em;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;-ms-border-radius: 0.5em;    
}

.featuredPosts .more a
,.modulePluginsDiscover .more a
{
    background: #fde7a2;
    color: #ff821c;
    border-radius:0.5em;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;-ms-border-radius: 0.5em;
}

.alfabet{
    background: #edf3fd;
    color: #1485cc;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1em;
    padding: 4px 10px;
    margin-bottom: 1em;    
}
    .alfabet ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .alfabet li{
        display: inline;
    }
    .alfabet a {
        text-decoration: none;
        color: #1485cc;
        background-color: transparent;
    }
    .alfabet li.current a {
        text-decoration: none;
        color: #555;
        background-color: transparent;
    }
    
/* pagination*/
.pagination {
    float: right;
    display: inline;
    width: auto;
    font-size: 1.1em;
    margin-top: 2.5em;
}
.pagination:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    .pagination span.disabled {
        color: #999;
        background-color: transparent;
    }
    .pagination .prev_page, .pagination .next_page {
        position: static;
    }   
    .pagination a, .pagination span.current, .pagination .prev_page, .pagination .next_page {
        position: relative;
        text-decoration: none;
        background: #f2f2f2;
        color: inherit;
        padding: 3px 6px;
        margin: 0 0.15em;
        border: 1px solid #ccc;
    }
    
    .pagination .disabled {
        border-color: #eee;
        background-color: #fff;
        color: #aaa;
    }
    .pagination span.current {
        font-weight: bold;
        background-color: #555;
        color: #fff !important;
    }

.moduleComments {
}
    .moduleComments .module_title, .moduleComments .form_title {
        display: none;
    }
    .moduleComments li {
        margin: 0;
        padding: 10px 10px 10px 70px;
        border-bottom: 1px dotted #ddd;
    }
    .moduleComments li.pair {
        background: #f5f5f5;
        color: inherit;
    }
    .moduleComments .image img {
        float: left;
        display: inline;
        margin-left: -60px;
    }
    .moduleComments .title {
        margin: 0 0 0.3em 0;
    }
        .moduleComments .title a {
            font-weight: bold;
            text-decoration: none;
        }
    .moduleComments .text {
        margin: 0 0 0.7em 0;
    }


.moduleCloud {
    margin-bottom: 1.5em;
}
    .moduleCloud .module_title {
        background-color: #fde7a2;
        color: #ff821c;
        font-size: 2.4em;
        line-height: 1em;
        font-weight: bold;
        padding: 3px 10px;
        margin-bottom: 0.3em;
    }
    .moduleCloud .module_content {
        padding: 0 10px;
    }
    .moduleCloud a {
        text-decoration: none;
        color: #1485cc;
        background-color: transparent;
    }

.modulePluginsDiscover {
    margin-bottom: 1.5em;    
}
    .modulePluginsDiscover .module_content {
        background-color: #f4f2e5;
        color: #da4171;
        font-weight: bold;
        padding: 10px;
        font-size: 2.2em;
        line-height: 1.2em;
    }
    .modulePluginsDiscover .more {
        margin-top: 1.5em;
        text-align: right;
        font-size: 0.7em;
        line-height: 1.3em;
    }              