.button { width: auto; overflow: visible; }
#menu ul ul { width: 960px;}
.blogModule.lastCreatedComments li .num_comments { padding-left: 0.5em;}
.blogModule.blogTags .module_content ul {margin-left: -15px;}