<div class="blogModule blogArchives clearfix">
    <div class="module_title"><span>Archives</span></div>
    <div class="module_content">
        <form name="f_blogArchives" method="get" action="f_blogArchives">
            <label for="month">Jump to</label>
            <select name="month" id="month">
                <option value="1">January 2008</option>
                <option value="2">February 2008</option>
            </select>
            <input type="submit" class="button go" value="Go" />
        </form>
    </div> <!-- /.module_content -->
</div> <!-- /.blogArchives -->