<div class="photosetDetail">
  <div class="title"><%= fake_company %></div>
  <div class="metainfo">
    <span class="meta num_items">78 photos</span>
    <span class="meta author">by <a href="#"><%= fake_company %></a></span>
  </div>
  <div class="admin_options"><a href="/picto/member/photosets/edit" class="edit edit_photoset">Edit this photoset</a></div>
  <div class="image"><%= image_tag 'core/images/275x180' %></div>
  <div class="text"><%= fake_paragraph %></div>    
</div> <!-- /.photosetDetail --> 