.blogModule {
    margin-bottom: 1em;
}
.blogModule.blogEditor .module_content {
    padding-left: 90px;
}    
.blogModule.blogEditor .image {
    float: left;
    display: inline;
    margin-left: -90px;
}   
.blogModule.blogEditor .actions ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
} 


.blogModule.blogEditors ul {
    margin: -10px 0 0 -10px;
    padding: 0;
    list-style-type: none;
}
.blogModule.blogEditors li {
    float:left;
    display: inline;
    margin: 10px 0 0 10px;
}    


.blogModule.blogFriends ul {
    margin: -10px 0 0 -10px;
    padding: 0;
    list-style-type: none;
}
.blogModule.blogFriends li {
    float:left;
    display: inline;
    margin: 10px 0 0 10px;
}   


.blogModule.blogTags .module_content {
    position: relative;
    width: 100%;
}
.blogModule.blogTags ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 48%;
    float: right;
    display: inline
}
.blogModule.blogTags ul.first {
    float: left;
}    
.blogModule.blogTags li {
    position: relative;
    padding-right: 20px;
}
.blogModule.blogTags .num_items {
    position: absolute;
    right: 0; 
    top: 0;  
}    

.blogModule.prevNextPosts {
    margin-bottom: 1em;
}
    .blogModule.prevNextPosts .prevPost, .blogModule.prevNextPosts .nextPost {
        float: left;
        display: inline;
        width: 47%;
    }
    .blogModule.prevNextPosts .nextPost {
        float: right;
    }




.lastPosts {
    margin-bottom: 1em;
}
    .lastPosts ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .lastPosts li {
        padding-left: 60px;
    }
    .lastPosts .image {
        float: left;
        display: inline;
        margin-left: -60px;
    }
    .lastPosts .title {
        display: inline;
    }
    
.featuredPosts {
    margin-bottom: 1em;
}
    .featuredPosts ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .featuredPosts li {
        padding-left: 85px;
    }
    .featuredPosts .image {
        float: left;
        display: inline;
        margin-left: -85px;
    } 
    .featuredPosts .title {
        display: inline;
    }
    
#blogHomeLastCreated {
    margin-bottom: 1em;
}       
    #blogHomeLastCreated ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    #blogHomeLastCreated .lastCreatedBlogs {
        float: left;
        display: inline;
        width: 48%;
    }
    #blogHomeLastCreated .lastCreatedComments {
        float: right;
        display: inline;
        width: 48%;
    }     

.blogsList {
}           
    .blogsList ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
.postsList {
}
    .postsList ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }    