/***********************/
/*                     /*
/*  general            /*
/*  notice             /*
/*  layout             /*
/*  pagination         /*
/*  form               /*
/*                     /*
/***********************/




/* general */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.hidden { position: absolute; top: -99999px; left: -999999px; overflow: hidden; width: 1px; height: 1px;}
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}
.justify {text-align: justify;}

p { margin: 0; padding: 0 0 1em 0; }


.alfabet{
    margin-bottom: 1em;
}
    .alfabet ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .alfabet li{
        display: inline;
    }




/* general */
.notice {
    color: #666;
    background-color: #edf3fd;
    padding: 8px 40px;
    margin: 0 0 1em 0;
    border-top: 1px solid #b2c7df;
    border-bottom: 1px solid #b2c7df;
    text-align: left;
}
    .notice a {
        color: #666;
        background-color: transparent;
        text-decoration: underline;
    }
    .notice.ok {
        color: #666;
        background: #edffe1 url(../images/ico/ok.gif) no-repeat 15px 0.7em;
        border-top: 1px solid #bdd8bd;
        border-bottom: 1px solid #bdd8bd;
    }
    .notice.warning {
        color: #666;
        background: #fdffcb url(../images/ico/warning.gif) no-repeat 15px 0.7em;
        border-top: 1px solid #fcd41d;
        border-bottom: 1px solid #fcd41d;
    }
    .notice.empty {
        color: #666;
        background: #fdffcb url(../images/ico/warning.gif) no-repeat 15px 0.7em;
        border-top: 1px solid #fcd41d;
        border-bottom: 1px solid #fcd41d;
    }
    .notice.error {
        color: #666;
        background: #ffebe2 url(../images/ico/error.gif) no-repeat 15px 0.7em;
        border-top: 1px solid #fecfc1;
        border-bottom: 1px solid #fecfc1;
    }




/* layout */
.main2cols {
    clear: both;
    width: 100%;
}
    .main2cols_left {
        float: left;
        display: inline;
        width: 48%;
    }
    .main2cols_right {
        float: right;
        display: inline;
        width: 48%;
    }

.main2cols_rightside {
    clear: both;
    width: 100%;
}
    .main2cols_rightside_left {
        float: left;
        display: inline;
        width: 67%;
    }
    
    .main2cols_rightside_right {
        float: right;
        display: inline;
        width: 30%;
    }
    
.main2cols_leftside {
    clear: both;
    width: 100%;
}
    .main2cols_leftside_left {
        float: left;
        display: inline;
        width: 30%;
    }
    
    .main2cols_leftside_right {
        float: right;
        display: inline;
        width: 67%;
    }

.main3cols {
    clear: both;
    width: 100%;
}
    .main3cols_left {
        float: left;
        display: inline;
        width: 22%;
    }
    .main3cols_center {
        float: left;
        display: inline;
        margin-left: 3%;
        width: 50%;
    }
    .main3cols_right {
        float: right;
        display: inline;
        width: 22%;
    }

.cols_50_50 {
    clear: both;
    width: 100%;    
}
    .cols_50_50 .col_left, .cols_50_50 .col_right {
        float: left;
        display: inline;
        width: 48%;
    }
    .cols_50_50 .col_right {
        float: right;
    }
    
    
    

/* pagination*/
.pagination {
    margin: 1.2em 0 0 0;
    width: 100%;
    text-align: center;
    position: relative;
}
    .pagination a, .pagination span.current {
        position: relative;
    }
    .pagination .prev_page, .pagination .next_page {
        position: absolute;
        margin: 0;
        border: 0;
    }    
    .pagination .prev_page {
        left: 0;
    }
    .pagination .next_page {
        right: 0;
    }

    
    
    
.moduleComments {
    margin: 1.5em 0 0 0;
}
    .moduleComments ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .moduleComments form {
        margin-top: 2.5em;
    }




.moduleCloud {
    margin-bottom: 1em;    
}
    .moduleCloud ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    } 
    .moduleCloud ul li { display: inline; padding-right: 0.5em;}
    .moduleCloud li.l1 { font-size: 85%; line-height: 1.1em;}
    .moduleCloud li.l2 { font-size: 100%; line-height: 1.1em; }
    .moduleCloud li.l3 { font-size: 115%; line-height: 1.1em; }
    .moduleCloud li.l4 { font-size: 130%; line-height: 1.1em; }
    .moduleCloud li.l5 { font-size: 145%; line-height: 1.1em; }
    .moduleCloud li.l6 { font-size: 160%; line-height: 1.1em; }
    .moduleCloud li.l7 { font-size: 175%; line-height: 1.1em; }
    .moduleCloud li.l8 { font-size: 190%; line-height: 1.1em; }
    .moduleCloud li.l9 { font-size: 205%; line-height: 1.1em; }  
    



/* form */
form { margin: 0; padding: 0; }
form .form_actions {margin-top: 1.4em; text-align: right;}
form .help {color: #999; background-color: transparent;}
form .help strong {color: #333; background-color: transparent;}
form .form_actions a, form .form_actions input {margin-left: 15px;}
.button {  border: 1px solid #ccc; background: #f2f2f2; color: #555; padding: 1px 5px; min-width: 80px;}
a.button {position: relative; padding: 2px 5px;}
.fieldbox {background: #fff; color: #333; border: 1px solid #ccc; padding: 2px;}
.fieldbox.wide {width: 99%;}
label {font-weight: bold;}

.member .button {background: #8c9db0; color: #fff; border-color: #8c9db0} 
.member label {font-size: 1.7em; line-height: 1.2em}