<div class="photoDetail">
  <div class="meta date">November 24, 2008; 06:00 AM</div>
  <div class="title"><%= fake_company %></div>
  <div class="item_actions">
    <ul>
      <li><a href="#" class="report">Report an abuse</a></li>
      <li><a href="#" class="sizes">Other sizes</a></li>
      <li class="last"><a href="/picto/member/photo/edit" class="edit edit_photo">Edit this photo</a></li>
    </ul>
  </div> <!-- /.item_actions -->
  <div class="image"><%= image_tag 'core/images/600x400' %></div>
  <div class="text">
    <%= fake_paragraph %>
  </div>    


  <div class="metainfo">
    <%= render 'picto/tag_list' %>
  </div> <!-- /.metainfo -->

</div> <!-- /.photoDetail -->