<div id="blogHomeLastCreated" class="clearfix">
    <div class="module_title"><span>Right now...</span></div>
    <div class="module_content">      
    
        <div class="blogModule lastCreatedBlogs">
            <div class="module_title"><span>Last created blogs</span></div>
            <div class="module_content">
                <ul>
                    <li><a href="#"><span>Blog link #1</span></a></li>
                    <li><a href="#"><span>Blog link #2</span></a></li>
                    <li><a href="#"><span>Blog link #3</span></a></li>
                    <li><a href="#"><span>Blog link #4</span></a></li>
                </ul>
            </div> <!-- /.module_content -->
        </div> <!-- /.lastCreatedBlogs -->  
         
        <div class="blogModule lastCreatedComments">
            <div class="module_title"><span>Last comments</span></div>
            <div class="module_content">
                <ul>
                    <li>
                        <div class="title"><a href="#">Post title link #1</a></div>
                        <div class="num_comments">8 comments</div>
                        <div class="commenters">commenter 1, commenter 2</div>
                    </li>
                    <li>
                        <div class="title"><a href="#">Post title link #2</a></div>
                        <div class="num_comments">8 comments</div>
                        <div class="commenters">commenter 1, commenter 2</div>
                    </li>
                    <li class="last">
                        <div class="title"><a href="#">Post title link #3</a></div>
                        <div class="num_comments">8 comments</div>
                        <div class="commenters">commenter 1, commenter 2</div>
                    </li>
                </ul>
            </div> <!-- /.module_content -->    
        </div> <!-- /.lastCreatedComments --> 
          
    </div> <!-- /.module_content -->   
</div> <!-- /#blogHomeLastCreated -->  
