<div class="photostreamList clearfix">
  <div class="col_left">
    <ul>
    <% 3.times do %>
      <li class="clearfix">
        <div class="meta date">November 24, 2008; 06:00 AM</div>
        <div class="title"><%= fake_company %></div>
        <div class="image"><%= image_tag 'core/images/275x180' %></div>
        <div class="comments_link"><a href="#">16 comments</a></div>   
      </li>
      <% end %>
      <li class="clearfix last">
        <div class="meta date">November 24, 2008; 06:00 AM</div>
        <div class="title"><%= fake_company %></div>
        <div class="image"><%= image_tag 'core/images/275x180' %></div>
        <div class="comments_link"><a href="#">16 comments</a></div>   
      </li>
    </ul>
  </div> <!-- /.col_left -->

  <div class="col_right">
    <ul>
      <% 3.times do %>
      <li class="clearfix">
        <div class="meta date">November 24, 2008; 06:00 AM</div>
        <div class="title"><%= fake_company %></div>
        <div class="image"><%= image_tag 'core/images/275x180' %></div>
        <div class="comments_link"><a href="#">16 comments</a></div>   
      </li>
      <% end %>
      <li class="clearfix last">
        <div class="meta date">November 24, 2008; 06:00 AM</div>
        <div class="title"><%= fake_company %></div>
        <div class="image"><%= image_tag 'core/images/275x180' %></div>
        <div class="comments_link"><a href="#">16 comments</a></div>   
      </li>
    </ul>
      
  </div> <!-- /.col_right -->      
</div>  <!-- /.photostreamList -->
<%= will_paginate %>