<div class="blogModule blogEditor clearfix">
    <div class="module_title"><span>Blog editor</span></div>
    <div class="module_content">
        <div class="image"><%= image_tag 'core/images/72x72' %></div>
        <div class="meta author"><%= link_to fake_name, "#" %></div>
        <div class="actions">
            <ul>
                <li><a href="#" class="view_profile"><span>View profile</span></a></li>
                <li><a href="#" class="send send_message"><span>Send message</span></a></li>
                <li><a href="#" class="follow_profile"><span>Follow Profile name</span></a></li>
            </ul>
        </div>
    </div> <!-- /.module_content -->
</div> <!-- /.blogEditor -->